.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  display: -webkit-flex;
  flex-wrap: inherit;
  -webkit-flex-wrap: inherit;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl, .navbar .container-xxl {
  max-width: 1290px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: var(--phs-dashboard-padding);
  padding-right: var(--phs-dashboard-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .dropdown-menu .dropdown-item {
  display: block;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar .dropdown-menu > li {
  margin: 1.5rem 0 1.5rem 0 !important; /* Increases vertical thickness */
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu.show .dropdown-item.active {
  background-color: var(--phs-color-primary);
}

.nav-item {
  text-align: center;
  height: 70px;
}

.navbar-collapse {
  overflow-y: auto;
  max-height: calc(100vh - 70px); /* Adjust based on your navbar height */
}

.navbar-collapse.collapse.show .dropdown-menu .dropdown-item {
  text-align: center;
  align-items: center; 
}

/* Internal Layout (Icon + Text in a row) */
.navbar .dropdown-menu > li > div {
  display: flex;
  flex-direction: column; /* Keeps Label above the content */
  padding: 0.75rem 1.5rem;
  align-items: center;
  /* margin: 1.2rem 0.9rem 1.2rem 0.9rem !important; */
  border-bottom: 4px solid #444;
}
