.div_hist_curr {
  font-size: 0.3em;
  font-weight: 100;
  display: block;
  padding-top: 10px;
  font-weight: 100;
  display: block;
  padding-top: 4px; /* reduced from 10px */
}

.span_week {
  margin-left: 9px;
  font-size: 0.4em;
  display: block;
}

.span_current {
  margin-left: 3px;
  font-weight: 700;
}
