/* give a padding top to the body object */
body { padding-top: 90px; }

/* Modify the value_box */
/* .value-box-showcase svg {
  margin-right: 0rem !important;
}

.value-box-area {
  margin-left: 0rem !important;
} */

/* Target the grid container */
/* .value-box-grid {
    display: flex;
    flex-wrap: nowrap !important;     /* Prevents items from dropping to the next line */
} */

/* .value-box .value-box-showcase i {
    font-size: clamp(30px, 4vw, 50px);
} */

.div_hist_curr {
    font-size:0.30em;font-weight:100;display: block;padding-top: 10px;
}

.span_week {
    margin-left:9px;font-size:0.40em;display:block;
}

.span_current {
    margin-left:3px; font-weight:700;
}

/* Modify the footer */
/* #app-footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
} */

/* Dark mode logo override */
html[data-bs-theme='dark'] #app-logo {
    content: url('../img/phs-logo-white.svg');
    width: 200px;
    height: auto;
}

/* light mode logo override */
html[data-bs-theme='light'] #app-logo {
    content: url('../img/phs-logo.svg');
    width: 200px;
    height: auto;
}

/* Dark mode logo override */
html[data-bs-theme='dark'] #ogl-logo {
    content: url('../img/ogl-logo-white.svg');
    width: 67px;
    height: 120px;
}

/* light mode logo override */
html[data-bs-theme='light'] #ogl-logo {
    content: url('../img/ogl-logo.svg');
    width: 67px;
    height: 120px;
}
